.start-screen {
  background-color: #404040;
  width           : 100vw;
  height          : 100vh;
  max-width       : 100%;

  display        : flex;
  justify-content: center;
  align-items    : center;


  @media (max-width: 960px) {
    overflow: hidden;
  }

  @media (max-width: 576px) {}

  img {
    height: 100vh;

    @media (max-width: 768px) {
      height: 70vh;
    }


    @media (max-width: 576px) {
      height: 30vh;
    }

  }
}

.start-label-box {
  position       : absolute;
  left           : 0;
  right          : 0;
  display        : flex;
  justify-content: center;
  bottom         : 50px;
  cursor         : pointer;

  img {
    width : 30vw;
    height: auto;

    @media (max-width: 960px) {
      width: 40%;
    }

    

    &:hover {
      filter: brightness(1.5);
    }
  }

  @media (max-width: 768px) {
    bottom: 18%;

  }

  @media (max-width: 576px) {
    bottom: 38%;
  }


}