.playground {
  width           : 100vw;
  height          : 100vh;
  max-width       : 100%;
  background-image: url(../../assets/img/table_background.jpg);
  background-size : cover;
  display         : flex;
  justify-content : center;
  align-items     : center;
}

.card-stack {
  position: relative;

  img {
    position: absolute;
    width   : 120px;

    @media (max-width: 768px) {
      width: 80px;
    }

  }
}

.top-card {
  cursor    : pointer;
  transition: all 125ms ease-in-out;

  &:hover {
    transform: scale(1.1) translateY(-10px);
  }
}

.played-card {
  transform: scale(1.3) translateX(140px) translateY(-150px) rotate(-10deg);

  @media (max-width: 768px) {
    transform: scale(1.3) translateX(20px) translateY(-100px) rotate(-10deg);
  }
}

.pick-card {
  animation: pick-card-animation 1.5s ease-in-out;
  transform: scale(1.3) translateX(140px) translateY(-150px) rotate(-10deg);

  @media (max-width: 768px) {
    transform: scale(1.3) translateX(20px) translateY(-100px) rotate(-10deg);
  }
}

@keyframes pick-card-animation {
  0% {
    transform: scale(1);
  }

  30% {
    transform: scale(1.7);
  }

  50% {
    transform: scale(1.7);
  }

  100% {
    transform: scale(1.3) translateX(140px) translateY(-150px) rotate(-10deg);
  }

}

.player-position {
  position: absolute;
  top     : 0;
  right   : 0;
  z-index : 1;
}

.btn-add {
  background-color: var(--accentcolor);
  position: absolute;
  right   : 32px;
  bottom  : 32px;
  z-index : 2;

  @media (max-width: 720px) {
    display: none;
  }
}

.btn-home {
  position: absolute;
  bottom  : 32px;
  left    : 32px;
  z-index : 2;

  @media (max-width: 720px) {
    display: none;
  }
}


.mobile-menu {

  @media (max-width: 720px) {
    position: absolute;
    bottom  : 108px;
    right   : 0px;
    z-index : 5;
  }

}
.pin-bottom {
  position: absolute;
  bottom  : 32px;
  left    : 100px;
  right   : 100px;

  @media (max-width: 720px) {
    left  : 0;
    right : 0;
    bottom: 0;
  }
}

.scroll-container {
  position  : absolute;
  left      : 0;
  right     : 0;
  display   : flex;
  overflow-x: auto;
  overflow-y: hidden;


  app-player-mobile {
    margin-left: 8px;
  }
}

app-player-mobile,
app-player {
  cursor: pointer;

  &:hover {
    filter: brightness(1.15)
  }
}

.gameOver {
  display        : flex;
  justify-content: center;
  margin         : 20%;

  img {
    width : 30%;
    height: 30vh;
  }
}

.preloadImage {
  width  : 0px;
  height : 0px;
  opacity: 0;
  z-index: -99999;
}