:root {
  --primarycolor     : #00BCD4;
  --lightprimarycolor: #B2EBF2;
  --darkprimarycolor : #0097A7;
  --accentcolor      : #FF5252;
  --primarytext      : #212121;
  --text_icons       : #FFFFFF;
  --secondarytext    : #757575;
  --dividertext      : #BDBDBD;
  --playerinactive   : hsla(187, 71%, 82%, 0.568);

}

body {
  margin: 0;
}

html,
body {
  height  : 100%;
  overflow: hidden;
}

body {
  margin     : 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-family: 'Lobster', cursive;

}

button {
  background-color: var(--accentcolor) !important;
}

.player-active {
  background-color: var(--accentcolor) !important ;
}

@media (max-width: 720px) {
  .hide-mobile {
    display: none;
  }
}

@media (min-width: 720px) {
  .hide-desktop {
    display: none;
  }
}